:host {
  --light-grey: #e0e0e0;
  --grey: #aeaeae;
  --dark-grey: #9e9e9e;
  --radius: 0.3em;
  --white: #fff;
  --light-blue: #eaefff;
  --blue: #3d5afe;
  --dark-blue: #0039cb;
  --black: #000;
  --green: #455a64;
  --dark-green: #1c313a;
  --red: #d32f2f;
  --wine: #9a0007;
}

/** Basic Button **/
button {
  /* Appearance */
  --app-main: var(--light-grey);
  --app-focus: var(--grey);
  --app-border: transparent;
  --app-text: var(--black);

  /* Size */
  --sz-letter: 1.25em;
  --sz-border: 2px;
  --sz-padding: 0.5em 0.95em;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: var(--sz-letter);

  background-color: var(--app-main);

  padding: var(--sz-padding);
  border: var(--sz-border) solid var(--app-border);
  border-radius: var(--radius);
  color: var(--app-text);

  outline: none;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 1px 1px 3px var(--app-focus);
}

button:focus,
button:hover {
  background-color: var(--app-focus);
}

button:disabled {
  --app-text: var(--dark-grey);
  --app-focus: var(--app-main);
  cursor: inherit;
}

/** Variants **/
.variant-outline {
  --app-main: var(--white);
  --app-border: var(--blue);
  --app-text: var(--blue);
  --app-focus: var(--light-blue);
}

.variant-text {
  --app-main: transparent;
  --app-border: transparent;
  --app-text: var(--blue);
  --app-focus: var(--light-blue);
}

/** Sizes **/

.size-small {
  --sz-letter: 0.9em;
  --sz-border: 1px;
  --sz-padding: 0.4em 0.8em;
}

.size-medium {
  --sz-letter: 1.25em;
  --sz-border: 2px;
  --sz-padding: 0.5em 0.95em;
}

.size-big {
  --sz-letter: 1.4em;
  --sz-border: 3px;
  --sz-padding: 0.5em 0.95em;
}

/** Colors **/

.color-default {
  --app-main: var(--light-grey);
  --app-focus: var(--grey);
  --app-border: transparent;
  --app-text: var(--black);
}

.color-primary {
  --app-main: var(--blue);
  --app-focus: var(--dark-blue);
  --app-border: transparent;
  --app-text: var(--white);
}

.color-secondary {
  --app-main: var(--green);
  --app-focus: var(--dark-green);
  --app-border: transparent;
  --app-text: var(--white);
}

.color-danger {
  --app-main: var(--red);
  --app-focus: var(--wine);
  --app-border: transparent;
  --app-text: var(--white);
}
